<!DOCTYPE html>
<body>
<div class="footer_content" style="margin-right:15px;">
    <div class="row" style="background-color:black;font-family:serif;
    letter-spacing:1px; padding:30px">
        <div class="col" style="text-align:center; color:white; background-color:black;"><h3>ABOUT US</h3>
        <p>Hope u liked our website
            We have tried to create whole new digital and simple experience to the PG Management System.
            Please do post your reviews. It would help us a lot in improving the experience.<br>Thank You!</p></div>
        <div class="col" style="text-align:center; color:white; background-color:black;"><h3>CONTACT US</h3><p>123456789
           <br>rjbeatsproduction@gmail.com<br>helddesk@991</p></div>

    </div>
    <div class="row" style="background-color:black;text-align:center;align:bottom;">
        <div class="col" style="background-color:#2e3330;color:white;align:bottom;padding:15px;">&copy; Designed by Rjbeats Production  ||  Designed by Prabhat Kumar Sarkhel  ||  Copyright Protected </div>
    </div>
</div>
</body>
</html>

