{% extends 'index.html' %}
{% block nav_content %}
<div class="heading">
 <h2>USER REGISTRATION</h2>
</div>
<div class="form">
  <form action="/home/" method="post">
      {% csrf_token %}
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Enter your first name..">
      {{ form }}

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Enter your last name..">

	<label for="age">Age</label>
    <input type="number" id="age" name="age" placeholder="Enter your age..">

	<label for="gender">Gender</label>
    <select id="gender" name="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="others">Others</option>
    </select>

	<label for="address">Address</label>
    <textarea id="address" name="address" placeholder="Enter your address.."></textarea>

    <label for="email">Email ID</label>
    <input type="text" id="email" name="emailid" placeholder="Enter your email id..">

	<label for="phoneno">Phone Number</label>
    <input type="number" id="phoneno" name="phonenumber" placeholder="Enter your phone number..">

	<label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Enter your password..">

    <input type="submit" value="SUBMIT">
  </form>
</div>

{% endblock %}
